html {
    height: 100%;
}

body {
  min-height: 100%;
  /* display: grid; */
  grid-template-rows: 1fr auto;

}





.nav{
    /* display: flex; */
    padding-top: 10px;
}

.navright{
    float: right;
}

.navleft {
    float: left;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

a:hover {
    text-decoration: underline;
}



.main{
    position: absolute;
    top: 40%;
    right: 40%;
    grid-row-start: 2;
    text-align: center;
}

input {
    border-radius: 10px;
    width: 350px;
    height: 25px;
}

button {
    padding: 8px;
    border-radius: 4px;
    background-color: #f3f3f3;
    color: #909296;
    box-shadow: none;
}

button:hover {
    background-color: rgb(218, 218, 218);
}













.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: rgb(190, 190, 190);
        color: white;

}

.footleft {
    float: left;
    
}

.footright {
    float: right;
}


@media screen and (max-width: 800px) {
    .main {
      right: 25%;
    }
  }


  @media screen and (max-width: 500px) {
    .main {
      right: 10%;
    }
  }

  @media screen and (max-width: 376px) {
    .main {
      right: 9%;
    }

    img {
        width: 220px;
        height: auto;
    }

    input {
        width: 300px;
    }
  }  